/* SUBMIT YOUR DESIGN
https://interfacely.net/submit
-
Fonts: Mazzard
Colors: 1A1B1F, 212329, 313237, 3A3C47, 3482E7
background-color: #1A1B1F;
Colors: 1D3D56, 1D5668, 007397, 74B6E4, C6DBEE, FED51C, CC3E53
font-family: 'Roboto', sans-serif;
*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
@font-face{
    font-family: MADE Mirage;
    src: url('MADE Mirage.ttf')

}
*{margin:0; padding:0; font-size: 100%; border:none; outline: none;
    font-weight: 350px; box-sizing: border-box; font-family: 'Ubuntu', sans-serif;
     color: whitesmoke;} 
body{
    background: #C6DBEE;
    width: 100%;
    height: 100%;
}
a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}

#menu{
    width: 100%;
}
#menu li{
    display: inline-block;
    color: #1D3D56;
    padding: 10px 30px;
    margin: 1%;
    font-weight:900;
    position: relative;
}
#menu ul:first-child{
    margin-left: 2%;
}
#menu li:nth-child(5){
    margin-left: 10%;
    background-color: #74B6E4;
    border: solid 1px whitesmoke;
    color: whitesmoke;
    border-radius: 40px;
}
#menu li:nth-child(5):hover{
    background-color: whitesmoke;
    border: solid 1px 74B6E4;
    color: #74B6E4;
    border-radius: 40px;
    border-bottom: none;
}
#menu li:nth-child(6){
    background-color: #74B6E4;
    border: solid 1px whitesmoke;
    color: whitesmoke;
    border-radius: 40px;
}
#menu li:nth-child(6):hover{
    background-color: whitesmoke;
    border: solid 1px 74B6E4;
    color: #74B6E4;
    border-radius: 40px;
    border-bottom: none;
}
#menu ul li:hover{
    transition:all ease 1s;
    border-radius: 0;
    border-bottom: solid 1px #74B6E4;
    cursor: pointer;
}
section{
    width: 50%;
    height: 100%;
    margin: 5%;
}
#content{
    padding: 10%;
}
#content h1{
    font-size: 2rem;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    color: #1D3D56;
}
#content p{
    font-weight: bolder;
    color: #1D3D56;
}
#content button{
    color: whitesmoke;
    padding: 3% 10%;
    margin-top: 5%;
    border-radius: 40px;
    background-image: linear-gradient(to right, #1D3D56, #1D5668);
    transition: all ease 2s;
    box-shadow: 0 0 1em #1D3D56;
}
section #content button:hover{
    background-image: linear-gradient(to right, #007397, #1D3D56);
    cursor: pointer;
}

footer{
    position: absolute;
    bottom: 0;
    color: #FFF;
    width: 100%;
    max-height: 100%;    
    text-align: center;
    line-height: 100%;
}
#rodape{
}